<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='home/phantom.png') }}" alt="Logo" style="width: 150px"></a></li>
                {% if 'user_id' in session %}
                    <h3>안녕하세요!!! {{ session['user_id'] }}님</h3>
                    <li><a href="{{ url_for('logout') }}">logout</a></li>
                {% else %}
                    <h3>안녕하세요!!! 반가워요.</h3>
                    <li><a href="{{ url_for('login') }}">login/signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>환영합니다!</h1>
            <p>이곳은 게시판 사이트입니다.</p>
        </section>
        <section>
            <h2>게시판</h2>
            <!-- 게시판 컨텐츠 -->
        </section>
        <section>
            <h2>커뮤니티</h2>
            <!-- 커뮤니티 컨텐츠 -->
        </section>
    </main>
    <footer>
        <p>© 2023 게시판 사이트</p>
    </footer>
</body>
</html>
