{% extends "base.html" %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('post.admin_', page=1) }}">나의 일기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('post.public_list', page=1) }}">우리의 일기</a>
                </li>
            </ul>
            <table class="table table-bordered mt-3">
                <thead class="thead-light">
                    <tr>
                        <th>No.</th>
                        <th>닉네임</th>
                        <th>일기 쓰기 권한</th>
                        <th>일기 공개 권한</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 게시글 항목들을 반복하여 표시 -->
                    {% for post in post_list %}

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pagination d-flex justify-content-between">
    <div></div>
        <div class="pagination d-flex justify-content-center">
            {% if not start_page %}
                <a href="{{ url_for('post.public_list', page=page-1) }}" class="btn btn-secondary me-2">Prev</a>
            {% endif %}
            <span class="fw-bold text-danger">{{ page }}</span>
            {% if not end_page%}
                <a href="{{ url_for('post.public_list', page=page+1) }}" class="btn btn-secondary ms-2">Next</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
